.card {
  font-family: 'Work Sans', sans-serif;
  width: 18.5rem;
  height: 30rem;
  background: rgb(201, 61, 61);
  border-radius: 9px;
  border: solid 4px rgb(80, 12, 12);
  transition: 0.5s;
  margin: auto;

  &:hover {
    transition: 0.5s;
    box-shadow: 0px 5px 15px -4px #ebca84;
    border: solid 4px rgb(212, 184, 92);
  }

  button {
    width: 10rem;
    height: 1.4rem;
    color: red;
    background: white;
    font-family: 'Work Sans', sans-serif;
    font-size: .9em;
    border-radius: 3px;
    margin: 5px 0;
  }
}