@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand:600&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  // border: 1px red solid;
}

body {
  background-color: #202125;
  color: white;
}

.App {
  text-align: center;
  background-color: #202125;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.background-image {
  width: 100%;
  height: auto;
}

.card-display {
  background-color: #5F6367;
  height: 200px;
  width: 100px;
}