.class-bar {
  width: 80%;
  // display: inline;
  height: 6rem;
  padding: .5rem 0;
  float: right;
  background: rgb(92, 92, 92);
  margin-top: -4px;

  h4 {
    font-family: 'Quicksand', sans-serif;
    margin-left: 2rem;
    margin-top: -.5rem;
    font-size: 1em;
  }
}

.class-selector {
  display: flex;
  justify-content: space-around;
  align-content: center;

  .class-icon {

  }

  .class-img {
    height: 4rem;
    width: auto;
    background: #A1B1FD;
    box-shadow: 0 3px 4px black;
    border-radius: 50%;
    transition: 0.5s;

    &:hover {
      box-shadow: 1px 2px 16px -1px #7ca0d6;
      transition: 0.5s;
    }
  }
}