.card-info {
  font-family: 'Work Sans', sans-serif;
  text-align: center;

  h1 {
    text-align: center;
    font-size: 2em;
    height: 5rem;
    padding: 1rem;
    margin-bottom: 5vh;
  }

  .info-container {
    display: flex;
    justify-content: space-evenly;

    img {
      height: 20rem;
    }

    div {
      font-size: 1.2em;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      border: solid 1px rgb(163, 163, 163);
      border-radius: 5px;
      padding: 5px;
      background: rgb(26, 25, 25);
    }
  }

  button {
    height: 4rem;
    border-radius: 5px;
    width: 24vw;
    color: white;
    border: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.8em;
    background: rgb(185, 88, 88);
    transition: 0.5s;
    margin-top: 4rem;
    margin-bottom: 5rem;

    &:hover {
      background: rgb(206, 159, 159);
      transition: 0.5s;
      box-shadow: 0px 5px 8px -4px #d48854;

    }
  }
}